@{
    List<NanaFoodWeb.Models.Dto.UserReviewDto> listReview = ViewBag.ReviewList as List<NanaFoodWeb.Models.Dto.UserReviewDto>;
    var currentPage = ViewData["currentPage"] as int? ?? 1;
    var totalPages = ViewData["totalPages"] as int? ?? 1;
    double rating = ViewData["rating"] is double value ? value : 5;
}
@using Syncfusion.EJ2.Inputs
@model NanaFoodWeb.Models.Dto.ProductDto

<style>
    .e-rating-container .e-rating-item-container.e-rating-selected .e-rating-icon, .e-rating-container .e-rating-item-container.e-rating-intermediate .e-rating-icon {
        background: linear-gradient(to right, rgb(236 249 67) var(--rating-value), transparent var(--rating-value));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px rgb(223 219 73);
    }
</style>
<div class="container" style="min-height:50vh;">
    <div class="mb-3 row box-shadow-edit py-3 rounded-2">
        
        <div class="offset-1 col-4">
            <img src="@Model.ImageUrl" width="400px" height="400px" />
        </div>
        <div class="col-6" style="position: relative; top: 0px; left: 57px;">
            <div class="h2 fw-bold text-warning">@Model.ProductName.ToUpper()</div>
            <div class="h6 py-1">
                <span>Lượt xem : @Model.View <i class="bi bi-eye-fill"></i></span>
            </div>
            <div class="h6">
                <span class="d-flex align-items-center">
                    Đánh giá sản phẩm : 
                    <ejs-rating id="productRating-@Model.ProductId"
                                value=@rating
                                readOnly=true
                                precision=Exact></ejs-rating>@* aria-valuenow="2.5" *@
                </span>
            </div>
            <div class="h5">Giá : @Model.Price.ToString("#,##") vnđ</div>
            <div class="h5">
                Còn lại: 
                @if(Model.Quantity <= 0){
                    <span class="badge bg-danger">Hết hàng</span>
                }
                else
                {
                    <span>@Model.Quantity phần</span>
                }
            </div>
            <div class="h6 py-1">Mô tả:</div>
            <div class="fs-6">
                @Model.Description
            </div>
            <div class="h6 py-1">Số lượng :</div>
            <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.ProductId" method="post" enctype="multipart/form-data">
                <div class="btn-group w-50 py-1">
                    <button type="button" class="btn btn-warning" onclick="decrease()">-</button>
                    <input type="number" class="form-control rounded-0 text-center" name="quantity" id="quantity" readonly value="1" />
                    <button type="button" class="btn btn-plus btn-warning" onclick="increase()">+</button>
                    <input id="productQuantity" asp-for="Quantity" hidden />
                </div>
                <div class="d-flex justify-content-between py-3" style="width:250px;">
                    <button type="submit" class="btn btn-warning" @(Model.Quantity == 0 ? "disabled" : "")>Thêm giỏ hàng</button>
                </div>
            </form>
        </div>
        <div class="offset-1 col-5 mt-2">
            <img class="img-fluid me-1 ms-1 lazyload" data-src="https://drive.google.com/file/d/1hrWYPxShTe1Hu5S8uOVUIOkNum4SSelk/view" style="height : 90px; width : 90px;" />
            <img class="img-fluid me-1 lazyload" data-src="https://placehold.co/300x300" style="height : 90px; width : 90px;" />
            <img class="img-fluid me-1 lazyload" data-src="https://placehold.co/300x300" style="height : 90px; width : 90px;" />
            <img class="img-fluid me-1 lazyload" data-src="https://placehold.co/300x300" style="height : 90px; width : 90px;" />
        </div>
    </div>

    @if (listReview.Count > 0 && listReview != null)
    {
        <div class="card shadow rounded-2">
            <div class="card-header">
                <h2>Đánh giá sản phẩm </h2>
                <hr />
                @(await Html.PartialAsync("_PartialCDetail"))
            </div>
        </div>
    } else
    {
        <div class="card shadow rounded-2">
            <div class="card-header">
                <h2>Đánh giá sản phẩm </h2>
                <hr />
                <p>Chưa có đánh giá nào</p>
            </div>
        </div>
    }


    <!-- Modal -->
    @* <div class="modal fade" id="quantityLimitModal" tabindex="-1" aria-labelledby="quantityLimitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="quantityLimitModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Số lượng quá lớn, vui lòng liên hệ : <strong>08588xxxxx</strong> để mua với giá tốt nhất
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div> *@

    <!-- Modal -->
    <div class="modal fade" id="quantityLimitModal" tabindex="-1" aria-labelledby="quantityLimitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="quantityLimitModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="quantityLimitModalBody">
                    <!-- Nội dung thông báo sẽ được cập nhật động bởi JavaScript -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>



    @* <div class="container-fluid">
        @await Html.PartialAsync("ListReview")
    </div> *@
</div>
<script>
    function increase() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value);
        var maxQuantity = parseInt(document.getElementById('productQuantity').value); // Giá trị tồn kho tối đa
        var quantityLimitModal = new bootstrap.Modal(document.getElementById('quantityLimitModal'));

        if (currentQuantity < 10 && currentQuantity < maxQuantity) {
            quantityInput.value = currentQuantity + 1;
        } else {
            // Kiểm tra điều kiện để hiển thị thông báo phù hợp
            var modalBody = document.getElementById('quantityLimitModalBody'); // Thay đổi nội dung của modal
            if (currentQuantity >= 10) {
                modalBody.innerHTML = "Số lượng quá lớn, vui lòng liên hệ : <strong>08588xxxxx</strong> để mua với giá tốt nhất";
            } else if (currentQuantity >= maxQuantity) {
                modalBody.innerHTML = "Vượt quá số lượng hiện tại , vui lòng liên hệ : <strong>08588xxxxx</strong> để được hỗ trợ";
            }
            quantityLimitModal.show();
        }
    }

    function decrease() {
        var quantityInput = document.getElementById('quantity');
        if (parseInt(quantityInput.value) > 1) {
            quantityInput.value = parseInt(quantityInput.value) - 1;
        }
    }
</script>

@* <script>
    function increase() {

        var maxQuantity = document.getElementById('productQuantity').value;


        if (document.getElementById('quantity').value < 10) {
            document.getElementById('quantity').value++;
        }
        else if (document.getElementById('quantity').value < maxQuantity) {
            document.getElementById('quantity').value++;
        }
        else {
            var quantityLimitModal = new bootstrap.Modal(document.getElementById('quantityLimitModal'));
            quantityLimitModal.show();
        }
    }
    function decrease() {
        if (document.getElementById('quantity').value > 1) {
            document.getElementById('quantity').value--;
        }
    }
</script> *@
