@{
    Layout = "_AdminLayout";
}
@model NanaFoodWeb.Models.Dto.ProductDto
<div id="wrapper">
    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Bạn có chắn chắn muốn xóa danh mục này ?</h1>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" id="category-name">@Model.ProductName</h6>
                    </div>
                    <div class="card-body">
                        <p><strong>Tên sản phẩm:</strong> <span id="category-name" @Model.ProductName</span></p>
                        <p><strong>Giá sản phẩm:</strong><span id="category-name">@Model.Price</span></p>
                        <p><strong>Mô tả:</strong> <span id="description">@Model.Description</span></p>
                        <p><strong>Lượt xem:</strong> <span id="description">@Model.View</span></p>
                        <div class="mb-2 mt-2">
                            <label>Trạng thái:</label>
                            <div class="d-flex align-items-center">
                                <div>
                                    <ejs-switch ejs-for="IsActive" change="onSwitchChange" name="IsActive" disabled></ejs-switch>
                                </div>
                                <h5 class="ms-2">
                                    <span id="badgeStatus" class="badge @(Model.IsActive ? "bg-success" : "bg-secondary")">
                                        @(Model.IsActive ? "Hoạt động" : "Vô hiệu")
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <p><strong>Hình ảnh: </strong></p>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <img src="@Model.ImageUrl" class="rounded-3" style="width:100%;" />
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 d-flex gap-1">
                            <form method="post">
                                <button type="submit" asp-action="DeleteConfirm" asp-controller="Products" class="btn btn-danger" asp-route-id="@Model?.ProductId"><i class="fa-regular fa-square-check"></i> Xóa</button>
                            </form>
                            <form method="post">
                                <button type="submit"
                                        asp-controller="Products"
                                        asp-action="Deactivate"
                                        asp-route-id="@Model.ProductId"
                                        class="btn btn-warning">
                                    <i class="fa-solid fa-lock"></i> Vô hiệu hóa
                                </button>
                            </form>
                            <a href="@Url.Action("Index", "Products")" class="btn btn-secondary"><i class="fa-solid fa-list"></i> Trở về danh sách</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>

