@{
    Layout = "_AdminLayout";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@{
    var currentPage = ViewData["currentPage"] as int? ?? 1;
    var totalPages = ViewData["totalPages"] as int? ?? 1;
}
@using Syncfusion.EJ2
@model NanaFoodWeb.Models.Dto.ViewModels.ProductVM

<div id="wrapper">

    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Danh sách sản phẩm</h1>
                <p>
                    <a asp-action="Create" class="btn btn-primary mb-3" asp-controller="Products">Thêm mới</a>
                </p>
               @Html.EJS().Grid("Grid").DataSource((IEnumerable<object>)ViewBag.lazyLoadData).Columns(col =>{
                        // col.Field("Id").HeaderText("ID").Width("130").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).IsPrimaryKey(true).Add();
                        col.Field("ProductId").HeaderText("Mã sản phẩm").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("ProductName").HeaderText("Tên sản phẩm").Format("C2").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("Price").HeaderText("Giá").Format("C2").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                        col.Field("Description").HeaderText("Mô tả").Format("C2").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                        col.Field("IsActive").HeaderText("Trạng thái").Width("160").Template("#isActiveTemplate").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("ImageUrl").HeaderText("Hình Ảnh").Width("160").Template("#categoriesImgTemplate").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();


                        col.Field("commands").HeaderText("Thao tác").Template("#commandTemplate").Width("200").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
               }).AllowPaging().PageSettings(page => page.PageCount(3).PageSizes(true).PageSize(10)).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).Toolbar(new List<string>() { "Search" }).AllowResizing(false).AutoFit(false).Render()

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function isActiveStatusDetail(e) {
            var div = document.createElement('div');
            var h6 = document.createElement('h6'); // Tạo thẻ h5 để bọc thẻ span
            var span = document.createElement('span');
            if (e.IsActive === true) {
                span.className = 'badge bg-success rounded-3';
                span.textContent = 'Kích hoạt'
            }
            if (e.IsActive === false) {
                span.className = 'badge bg-secondary rounded-3';
                span.textContent = 'Vô hiệu'
            }

            h6.appendChild(span); // Đưa span vào bên trong thẻ h5
            div.appendChild(h6); // Đưa h6 vào bên trong div

            return div.outerHTML;
        }
    </script>

    <script type="text/x-jsrender" id="isActiveTemplate">
        ${isActiveStatusDetail(data)}
    </script>

    <script id="categoriesImgTemplate" type="text/x-template">
        <div class="image w-50">
            <img class="img-fluid d-block mx-auto rounded-3" src="${ImageUrl}" />
        </div>
    </script>


    <script type="text/x-jsrender" id="commandTemplate">

        <a href="/Products/Edit/${ProductId}" class="btn btn-outline-warning mb-1 d-block"><i class="fa-regular fa-pen-to-square"></i> Chỉnh sửa</a>

        <a href=""/Products/Delete/${ProductId}" class="btn btn-outline-danger mb-1 d-block"><i class="bi bi-trash"></i> Xóa</a>

        <a href=""/Products/Details/${ProductId}" class="btn btn-outline-info mb-1 d-block"><i class="bi bi-info-circle"></i> Chi tiết</a>
    </script>
    @*  <div class="card shadow">
                    <div class="card-header py-3">
                        <div class="d-flex align-items-md-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Products</h6>
                            <div>
                                <form asp-action="SearchByName" method="get" class="form-inline my-2 my-lg-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="query" value="@ViewBag.CurrentFilter" placeholder="Nhập tên sản phẩm" aria-label="Search" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Mô tả</th>
                                        <th>Trạng thái</th>
                                        <th>Hình ảnh</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Products)
                                    {
                                        <tr id="product-row-@item.ProductId">
                                            <td>@item.ProductId</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.Price</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <span id="badgeStatus" class="badge @(item.IsActive ? "bg-success" : "bg-secondary")">
                                                    @(item.IsActive ? "Hoạt động" : "Vô hiệu")
                                                </span>
                                            </td>
                                            <td>
                                                <img class="img-fluid rounded mx-auto d-block" src="@item.ImageUrl" style="width:50px" />
                                            </td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Products" asp-route-id="@item.ProductId"><i class="bi bi-wrench-adjustable"></i> Chỉnh sửa</a>
                                                <a class="btn btn-info btn-sm" asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId"><i class="bi bi-info-circle"></i> Chi tiết</a>
                                                <!-- Form Delete -->
                                                <!-- Nút Xóa với data-bs-target duy nhất -->
                                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.ProductId">
                                                    <i class="bi bi-trash"></i> Xóa danh mục
                                                </button>

                                                <!-- Modal với ID duy nhất cho từng danh mục -->
                                                <div class="modal fade" id="deleteModal-@item.ProductId" tabindex="-1" aria-labelledby="deleteModalLabel-@item.ProductId" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="deleteModalLabel-@item.ProductId">Bạn có chắc chắn xóa danh mục này ?</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-2 mt-2">
                                                                    <label>ID:</label>
                                                                    <input asp-for="@item.ProductId" class="form-control" readonly />
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Tên Sản phẩm:</label>
                                                                    <input asp-for="@item.ProductName" class="form-control" readonly />
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Gía:</label>
                                                                    <textarea asp-for="@item.Price" class="form-control" rows="5" readonly></textarea>
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Lượt xem:</label>
                                                                    <textarea asp-for="@item.View" class="form-control" rows="5" readonly></textarea>
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Mô tả:</label>
                                                                    <textarea asp-for="@item.Description" class="form-control" rows="5" readonly></textarea>
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Trạng thái</label>
                                                                    <div class="d-flex align-items-center">
                                                                        <div>
                                                                            @Html.EJS().Switch(item.ProductId.ToString()).Checked(item.IsActive).Disabled(true).Render()
                                                                        </div>
                                                                        <h4 class="ms-2">
                                                                            @if (item.IsActive)
                                                                            {
                                                                                <span class="badge bg-success">Hoạt động</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="badge bg-secondary">Vô hiệu</span>
                                                                            }
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Hình ảnh: </label>
                                                                    <div class="rounded-3 bg-body-tertiary shadow w-50 shadow-sm">
                                                                        <img class="rounded-3" style="width:100%"
                                                                             src="@item.ImageUrl"
                                                                             alt="Image" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form method="post">
                                                                    <button type="submit"
                                                                            class="btn btn-danger"
                                                                            asp-controller="Products"
                                                                            asp-action="Delete"
                                                                            asp-route-searchQuery="@ViewData["searchQuery"]"
                                                                            asp-route-page="@ViewData["page"]"
                                                                            asp-route-id="@item.ProductId">
                                                                        <i class="bi bi-file-earmark-x"></i> Xóa
                                                                    </button>
                                                                </form>
                                                                <form method="post">
                                                                    <button type="submit"
                                                                            asp-controller="Products"
                                                                            asp-action="Deactivate"
                                                                            asp-route-searchQuery="@ViewData["searchQuery"]"
                                                                            asp-route-page="@ViewData["page"]"
                                                                            asp-route-id="@item.ProductId"
                                                                            class="btn btn-warning">
                                                                        <i class="bi bi-eye-slash"></i> Vô hiệu hóa
                                                                    </button>
                                                                </form>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-escape"></i> Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                @if (currentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1, searchQuery = ViewData["searchQuery"] })" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }

                                @for (var i = 1; i <= totalPages; i++)
                                {
                                    <li class="page-item @(i == currentPage ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i, searchQuery = ViewData["searchQuery"] })">
                                            @i
                                        </a>
                                    </li>
                                }

                                @if (currentPage < totalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1, searchQuery = ViewData["searchQuery"] })" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>

                    </div>
                </div> *@
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
