@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StoreManagement.Models.Carts
@* @{
    IEnumerable<StoreManagement.Models.CartDetails> ListCarts = ViewData["CartDetails"] as IEnumerable<StoreManagement.Models.CartDetails>;
    StoreManagement.Models.Carts Cart = ViewData["Carts"] as StoreManagement.Models.Carts;
    StoreManagement.Models.Customers Cust = ViewData["Customer"] as StoreManagement.Models.Customers;
} *@

<div class="container-fluid page-header py-5">
    <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
            <input id="txtSearch" type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
            <span id="search-icon-1" class="input-group-text p-3" type="button" onclick="GetMyOrderByHD()"><i class="fa fa-search"></i></span>
        </div>
    </div>
</div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            <h2 class="mb-4">Danh Sách Món Ăn</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Món Ăn</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Số Lượng</th>
                                        <th scope="col">Tổng Cộng</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CartDetails != null)
                                    {
                                        foreach (var itm in Model.CartDetails)
                                        {
                                            <tr>
                                                <td scope="row">@itm.CartDtlId</td>
                                                <td scope="row">@itm.ItemName</td>
                                                <td>@itm.Price</td>
                                                <td><input type="number" id="quantity_@itm.CartDtlId" value="@itm.Quantity" /></td>
                                                <td>@(itm.Quantity * itm.Price)</td>
                                                <td>
                                                    <button type="button" id="updateButton" onclick="UpdateQuantiy(@itm.CartDtlId)">Update Quantity</button> |

                                                    <a asp-action="DeleteCartDetail" asp-route-id="@itm.CartDtlId" asp-route-quantity="@itm.Quantity">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <h2 class="mb-4">Cart</h2>
                            <ul class="list-group mb-4">
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div>
                                        <h6 class="my-0">Tên Món Ăn</h6>
                                        @if (Model.CartDetails != null)
                                        {
                                            foreach (var itm in Model.CartDetails)
                                            {
                                                <div class="row">
                                                    <div class="col-8">
                                                        <small class="text-muted">@itm.ItemName</small>
                                                    </div>
                                                    <div class="col-4">
                                                        <span class="text-muted text-right">@itm.Quantity * @itm.Price</span>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </li>
                                <!-- Cart Items End -->
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Thành Tiền (VND)</span>
                                    <strong>@Model?.TotalMoney</strong>
                                </li>
                            </ul>
                            @* <a  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Thanh Toán</a> *@
                            @* <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Thanh Toán</button> *@
                            @* @await Htmlk.PartialAsync("_Checkout", Model) *@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    // JavaScript function to update quantities
    // document.getElementById('updateButton').addEventListener('click', function () {
    //     var rows = document.querySelectorAll('tbody tr'); // Select all rows in the table body
    //     rows.forEach(function (row, index) { // Loop through each row
    //         var quantityInput = document.getElementById('quantity_' + index); // Get the quantity input field for the row
    //         var newQuantity = parseInt(quantityInput.value); // Get the new quantity value
    //         // Update the quantity cell in the table with the new value
    //         row.cells[3].textContent = newQuantity;
    //     });
    // });
    
    function GetMyOrderByHD() {
        debugger;
        $.ajax({
            url: '@Url.Action("Details", "Carts")',//"../../MealAdjustment/GetEmployeeInput",
            type: "GET",
            data: jQuery.param({ search: document.getElementById("txtSearch").value }),
            // data: jQuery.param({ dtl: dtlId, quantity: $("quantity_" + dtlId).val() }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                ('#yourTableContainer').html(data.tableHtml); // Update table
                $('#yourCartContainer').html(data.cartHtml); // Update cart list

            },
            error: function (rs) {
                alert(data.Message);
            }
        });

    }
</script>