
@{
    IEnumerable<StoreManagement.Models.CartDetails> ListCarts = ViewData["CartDetails"] as IEnumerable<StoreManagement.Models.CartDetails>;
    StoreManagement.Models.Carts Cart = ViewData["Carts"] as StoreManagement.Models.Carts;
    StoreManagement.Models.Customers Cust = ViewData["Customer"] as StoreManagement.Models.Customers;
}

<div class="container-fluid page-header py-5"></div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            <h2 class="mb-4">Danh Sách Món Ăn</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Món Ăn</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Số Lượng</th>
                                        <th scope="col">Tổng Cộng</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ListCarts != null)
                                    {
                                        foreach (var itm in ListCarts)
                                        {
                                            <tr>
                                                <td scope="row">@itm.CartDtlId</td>
                                                <td scope="row">@itm.ItemName</td>
                                                <td>@itm.Price</td>
                                                <td><input type="number" id="quantity_@itm.CartDtlId" value="@itm.Quantity" /></td>
                                                <td>@(itm.Quantity * itm.Price)</td>
                                                <td>
                                                    <button type="button" id="updateButton" onclick="UpdateQuantiy(@itm.CartDtlId)">Update Quantity</button> |

                                                    <a asp-action="DeleteCartDetail" asp-route-id="@itm.CartDtlId" asp-route-quantity="@itm.Quantity">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <h2 class="mb-4">Cart</h2>
                            <ul class="list-group mb-4">
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div>
                                        <h6 class="my-0">Tên Món Ăn</h6>
                                        @if (ListCarts != null)
                                        {
                                            foreach (var itm in ListCarts)
                                            {
                                                <div class="row">
                                                    <div class="col-8">
                                                        <small class="text-muted">@itm.ItemName</small>
                                                    </div>
                                                    <div class="col-4">
                                                        <span class="text-muted text-right">@itm.Quantity * @itm.Price</span>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </li>
                                <!-- Cart Items End -->
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Thành Tiền (VND)</span>
                                    <strong>@Cart?.TotalMoney</strong>
                                </li>
                            </ul>
                            @* <a  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Thanh Toán</a> *@
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Thanh Toán</button>
                            @* @await Htmlk.PartialAsync("_Checkout", Model) *@
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Giỏ hàng</span>
                            <span class="badge badge-secondary badge-pill">@ListCarts?.Count() ?? 0</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @if (ListCarts != null)
                            {
                                foreach (var itm in ListCarts)
                                {
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">@itm.ItemName</h6>
                                            <small class="text-muted">@itm.Quantity x @itm.Price</small>
                                        </div>
                                        <span class="text-muted">@itm.Quantity * @itm.Price</span>
                                    </li>
                                }
                            }
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Thành Tiền (VND)</span>
                                <strong>@Cart?.TotalMoney</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <form class="needs-validation" name="frmthanhtoan" method="post" asp-action="Payment" asp-controller="Carts">
                            <h4 class="mb-3">Thông Tin của Bạn</h4>

                            <div class="row">
                                <div class="col-md-12" style="display:none">
                                    <label for="kh_ten">CustomerCd</label>
                                    <input type="text" class="form-control" name="CustomerCd" id="kh_Code" value="@Cust?.CustomerCd">
                                </div>
                                <div class="col-md-12" style="display:none">
                                    <label for="kh_ten">ID</label>
                                    <input type="text" class="form-control" name="CustomerId" id="kh_id" value="@Cust?.CustomerId">
                                </div>
                                <div class="col-md-12" style="display:none">
                                    <label for="kh_gioitinh">Guest</label> <br>
                                    <input type="radio" id="male" name="Guest_YN" value="True" @if (Cust.Guest_YN)
                                    {
                                        <text>checked</text>
                                    }> <!-- Male -->
                                    <label for="male">Nam</label>
                                    <input type="radio" id="female" name="Guest_YN" value="False" @if (!Cust.Guest_YN)
                                    {
                                        <text>checked</text>
                                    }> <!-- Female -->
                                    <label for="female">Nữ</label>
                                    @* <input type="text" class="form-control" name="kh_gioitinh" id="kh_gioitinh" value="@Cust.Sex" > *@
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_ten">Họ Và Tên</label>
                                    <input type="text" class="form-control" name="CustomerName" id="kh_ten" value="@Cust?.CustomerName">
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_gioitinh">Giới Tính</label> <br>
                                    <input type="radio" id="male" name="Sex" value="True" @if (Cust.Sex)
                                    {
                                        <text>checked</text>
                                    }> <!-- Male -->
                                    <label for="male">Nam</label>
                                    <input type="radio" id="female" name="Sex" value="False" @if (!Cust.Sex)
                                    {
                                        <text>checked</text>
                                    }> <!-- Female -->
                                    <label for="female">Nữ</label>
                                    @* <input type="text" class="form-control" name="kh_gioitinh" id="kh_gioitinh" value="@Cust.Sex" > *@
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_diachi">Địa Chỉ Nhận Hàng</label>
                                    <input type="text" class="form-control" name="Address" id="kh_diachi" value="@Cust.Address">
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_dienthoai">Số Điện Thoại</label>
                                    <input type="text" class="form-control" name="PhoneNumber" id="kh_dienthoai" value="@Cust.PhoneNumber">
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_email">Email</label>
                                    <input type="text" class="form-control" name="Email" id="kh_email" value="@Cust.Email">
                                </div>
                            </div>

                            <h4 class="mb-3">Chọn Phương Thức Thanh Toán</h4>

                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="httt-1" name="Ck_YN" type="radio" class="custom-control-input" required="" value="False" @if (Cust.Ck_YN)
                                    {
                                        <text>checked</text>
                                    }>
                                    @* <input id="httt-1" name="Ck_YN" type="radio" class="custom-control-input" required="" value="1"> *@
                                    <label class="custom-control-label" for="httt-1">Thanh toán tiền mặt</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="httt-2" name="Ck_YN" type="radio" class="custom-control-input" required="" value="True" @if (!Cust.Ck_YN)
                                    {
                                        <text>checked</text>
                                    }>
                                    @* <input id="httt-2" name="Ck_YN" type="radio" class="custom-control-input" required="" value="2"> *@
                                    <label class="custom-control-label" for="httt-2">Chuyển Khoản</label>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" name="btnDatHang">Đặt Hàng</button>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    // JavaScript function to update quantities
    // document.getElementById('updateButton').addEventListener('click', function () {
    //     var rows = document.querySelectorAll('tbody tr'); // Select all rows in the table body
    //     rows.forEach(function (row, index) { // Loop through each row
    //         var quantityInput = document.getElementById('quantity_' + index); // Get the quantity input field for the row
    //         var newQuantity = parseInt(quantityInput.value); // Get the new quantity value
    //         // Update the quantity cell in the table with the new value
    //         row.cells[3].textContent = newQuantity;
    //     });
    // });
    function UpdateQuantiy(dtlId) {
        debugger;
        $.ajax({
            url: '@Url.Action("UpdateQuantity", "Carts")',//"../../MealAdjustment/GetEmployeeInput",
            type: "GET",
            data: jQuery.param({dtl: dtlId, quantity: document.getElementById("quantity_" + dtlId).value}),
            // data: jQuery.param({ dtl: dtlId, quantity: $("quantity_" + dtlId).val() }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("update quantiy thành công");
                // var rows = document.querySelectorAll('tbody tr'); // Select all rows in the table body
                // rows.forEach(function (row, index) { // Loop through each row
                //     var quantityInput = document.getElementById('quantity_' + index); // Get the quantity input field for the row
                //     var newQuantity = parseInt(quantityInput.value); // Get the new quantity value
                //     // Update the quantity cell in the table with the new value
                //     row.cells[3].textContent = newQuantity;
                //     row.cells[4].textContent = newQuantity * row.cells[2];
                // });
                location.reload();
            },
            error: function (rs) {
                alert(data.Message);
            }
        });

    }
</script>