@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@{
    var currentPage = ViewData["currentPage"] as int? ?? 1;
    var totalPages = ViewData["totalPages"] as int? ?? 1;
}
<style>
    .card-title {
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
@model NanaFoodWeb.Models.Dto.ViewModels.ProductVM
<div class="container fruite">
    <div class="tab-class text-center">
        <div class="row">
            <div class="col-lg-2 text-start">
                <h2 style="position: relative; left: 1px; top: 9px; transition: none; cursor: move;" data-selected="true" data-label-id="0">Sản phẩm</h2>
            </div>
            <div class="col-lg-10 text-end" style="height: 55px; transition: none;">
                <ul class="nav nav-pills d-inline-flex text-center mb-5">
                    <li class="nav-item">
                        <a class="d-flex m-2 py-2 bg-light rounded-pill active" asp-action="Menu" asp-controller="Home">
                            <span class="text-dark" style="width: 130px;">Tất cả sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                            <span class="text-dark" style="width: 130px;">Humberger</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">
                            <span class="text-dark" style="width: 130px;">Gà rán</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-4">
                            <span class="text-dark" style="width: 130px;">Mì ý</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-6">
                            <span class="text-dark" style="width: 130px;">Pizza</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-7">
                            <span class="text-dark" style="width: 130px;">Khác</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter py-2">
            <form method="get" asp-action="FilterCategory" asp-controller="Home" id="categoryForm">
                <select class="form-select filter-dropdown" aria-label="filter" name="categoryid" onchange="document.getElementById('categoryForm').submit();">
                    <option value="" selected disabled>Chọn danh mục</option>
                    @if (ViewBag.ListCategory != null)
                    {
                        foreach (var item in ViewBag.ListCategory)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                <input type="hidden" name="page" value="1" />
                <input type="hidden" name="pageSize" value="12" />
            </form>
        </div>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            @if (Model?.Products != null && Model.Products.Any(e => e.IsActive))
                            {
                                @foreach (var product in Model.Products.Where(e => e.IsActive))
                                {
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="card mb-3 shadow">
                                            <a asp-controller="Products" asp-action="CDetails" asp-route-id="@product.ProductId">
                                                <img src="@product.ImageUrl" width="100%" height="100%" />
                                            </a>
                                            <div class="card-body">
                                                <a asp-controller="Products" asp-action="CDetails" asp-route-id="@product.ProductId" class="text-decoration-none">
                                                    <h5 class="card-title text-dark fw-bold">@product.ProductName</h5>
                                                </a>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="text-dark fs-5 fw-bold" style="position: relative; left: 3px; top: 8px;">@product.Price.ToString("#,##")đ</p>
                                                    <a asp-controller="Products" asp-action="CDetails" asp-route-id="@product.ProductId" class="btn btn-sm btn-warning rounded-2">Xem chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        @if (currentPage > 1)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="@Url.Action("Menu", new { page = currentPage - 1, searchQuery = ViewData["searchQuery"] })" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        }

                                        @for (var i = 1; i <= totalPages; i++)
                                        {
                                            <li class="page-item @(i == currentPage ? "active" : "")">
                                                <a class="page-link" href="@Url.Action("Menu", new { page = i, searchQuery = ViewData["searchQuery"] })">
                                                    @i
                                                </a>
                                            </li>
                                        }

                                        @if (currentPage < totalPages)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="@Url.Action("Menu", new { page = currentPage + 1, searchQuery = ViewData["searchQuery"] })" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                            <style>
                                .custom-pagination .pagination {
                                    display: flex;
                                    justify-content: center;
                                }

                            </style>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>