@using Syncfusion.EJ2
﻿@{
    ViewData["title"] = "View Order";
}
@model IEnumerable<NanaFoodWeb.Models.Order>;
<div style="min-height:70vh">
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <h2>Đơn hàng của tôi</h2>
            </div>
        </div>
        <div class="card-body">
            <div>
                @Html.EJS().Grid("OrderList").DataSource(Model).Columns(col =>
                         {
                             col.Field("OrderId").HeaderText("Mã đơn hàng").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                             col.Field("PaymentType").HeaderText("Phương thức thanh toán").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                             col.Field("OrderDate").HeaderText("Ngày đặt hàng").Format("dd-MM-yyyy HH:mm:ss").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                             col.Field("PaymentStatus").HeaderText("Trạng thái thanh toán").Width("160").Template("#paymentStatusTemplate").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                             col.Field("OrderStatus").HeaderText("Trạng thái giao hàng").Width("160").Template("#OrderStatusTemplate").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                             col.Field("ShipmentFee").HeaderText("Phí ship").Format("#,##" + " VNĐ").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                             col.Field("Total").HeaderText("Tổng tiền").Format("#,##" + " VNĐ").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                             col.Field("commands").HeaderText("Thao tác").Template("#orderCommandTemplate").Width("200").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();

                         }).AllowPaging().PageSettings(page => page.PageCount(3).PageSizes(true).PageSize(10)).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).Toolbar(new List<string>() { "Search" }).AllowResizing(false).AutoFit(false).Render()
            </div>
            <div class="text-right mt-2 g-2">
                <a class="btn btn-outline-warning" asp-action="Menu" asp-controller="Home">Tiếp tục mua <i class="bi bi-basket-fill"></i></a>
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Trở về trang chủ</a>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="paymentStatusTemplate">
    @foreach(var item in Model)
    {
        @if (item.PaymentStatus == "Chưa thanh toán")
        {
            <div class="p-2 badge bg-primary text-white">@item.PaymentStatus</div>
        }
        @if (item.PaymentStatus == "Đã thanh toán")
        {
            <div class="p-2 badge bg-success text-white">@item.PaymentStatus</div>
        }
        @if (item.PaymentStatus == "Đã huỷ")
        {
            <div class="p-2 badge bg-danger text-white">@item.PaymentStatus</div>
        }
    }
</script>

<script type="text/x-template" id="OrderStatusTemplate">
    @foreach (var item in Model)
    {
        @if (item.OrderStatus == "Chờ xác nhận")
        {
            <div class="p-2 badge bg-info text-white">@item.OrderStatus</div>
        }
        @if (@item.OrderStatus == "Đang chuẩn bị")
        {
             <div class="p-2 badge bg-warning text-white">@item.OrderStatus</div>
        }
        @if (item.OrderStatus == "Đã huỷ")
        {
             <div class="p-2 badge bg-danger text-white">@item.OrderStatus</div>
        }
        @if (item.OrderStatus == "Đang giao")
        {
             <div class="p-2 badge bg-primary text-white">@item.OrderStatus</div>
        }
        @if (item.OrderStatus == "Đã giao")
        {
             <div class="p-2 badge bg-success text-white">@item.OrderStatus</div>
        }
    }
</script>

<script type="text/x-template" id="orderCommandTemplate">
    @foreach (var item in Model)
    {
        <a asp-action="OrderHistoryDetail" asp-controller="Order" asp-route-id="@item.OrderId" class="btn btn-sm btn-outline-dark me-2">Xem chi tiết</a>
        @if (item.PaymentStatus == "Đã thanh toán" && item.OrderStatus == "Đã giao")
        {
                <a asp-action="ReviewOrder" asp-controller="Order" asp-route-orderId="@item.OrderId" class="btn btn-sm btn-outline-dark">Đánh giá</a>
        }
    }
</script>

