@{
    ViewData["title"] = "View Order";
    var listOrder = ViewBag.ReviewList as List<NanaFoodWeb.Models.Dto.ReviewProductDto>;
    var listRebuy = ViewBag.RebuyOrder as List<NanaFoodWeb.Models.Dto.RebuyOrderDto>;
    double TotalProduct = 0;
}
@model NanaFoodWeb.Models.Order
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<style>
    .primary-color {
        color: #f6c23e;
    }

    .primary-bg {
        background-color: #f6c23e;
        color: #fff;
    }

    .section-title {
        background-color: #f6c23e;
        color: #fff;
        padding: 0.1rem;
        font-weight: bold;
    }

    .form-control-plaintext {
        font-weight: bold;
    }

    .table thead th {
        background-color: #f6c23e;
        color: #fff;
        font-weight: bold;
    }
</style>
@* <style>
    .primary-color {
        color: #d4a235; /* Màu vàng cam trầm */
    }

    .primary-bg {
        background-color: #d4a235; /* Màu nền vàng cam trầm */
        color: #fff;
    }

    .section-title {
        background-color: #d4a235; /* Màu vàng cam trầm cho các phần tiêu đề */
        color: #fff;
        padding: 0.1rem;
        font-weight: bold;
    }

    .form-control-plaintext {
        font-weight: bold;
        color: #333; /* Màu chữ tối cho độ tương phản */
    }

    .table thead th {
        background-color: #d4a235; /* Màu nền vàng cam trầm cho phần đầu bảng */
        color: #fff;
        font-weight: bold;
    }
</style> *@
<div class="container">
    <div class="card shadow">
        <div class="card-header">
            <!-- Header -->
            <div class="row mb-2 text-center">
                <h1>Chi tiết đơn hàng</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="container my-4">

                <!-- Client Information -->
                <div class="row mb-2">
                    <div class="col-12 section-title">Thông tin người nhận</div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Họ Tên:</label>
                            <input asp-for=FullName type="text" class="form-control-plaintext" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Địa chỉ:</label>
                            <input asp-for=Address type="text" class="form-control-plaintext" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Số điện thoại:</label>
                            <input asp-for=PhoneNumber type="text" class="form-control-plaintext" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Email:</label>
                            <input asp-for=Email type="text" class="form-control-plaintext" readonly>
                        </div>
                    </div>
                </div>

                <!-- thông tin sản phẩm trong đơn hàng -->
                <div class="row mb-4">
                    <div class="col-12 section-title">Thông tin đơn hàng</div>
                    <div class="col-12 mt-2">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listOrder)
                                {
                                    <tr>
                                        <td>
                                            @item.ProductName
                                        </td>
                                        <td>@item.Price.ToString("#,##") VNĐ</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Total.ToString("#,##") VNĐ</td>
                                    </tr>
                                    TotalProduct += item.Total;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- thông tin giao nhận -->
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="section-title">Thông tin thanh toán </div>
                        <p>Phương thức thanh toán: @Model.PaymentType</p>
                        <p>Trạng thái thanh toán: @Model.PaymentStatus</p>
                        <p>Phí ship: @Model.ShipmentFee.ToString("#,##") VNĐ</p>
                        <p>Tổng tiền: @TotalProduct.ToString("#,##") VNĐ</p>
                        <p><strong>Tổng thanh toán: @Model.Total.ToString("#,##") VNĐ</strong></p>
                    </div>

                    <!-- ghi chú -->
                    <div class="col-md-6">
                        <div class="col-12 section-title">Ghi chú </div>
                        <div class="col-12 mt-2 mb-2">
                            <textarea asp-for="Note" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="text-right g-2">
                        @if (Model.OrderStatus == "Đã giao" && Model.PaymentStatus == "Đã thanh toán" || Model.OrderStatus == "Đã huỷ" && Model.PaymentStatus == "Đã huỷ")
                        {
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Mua lại
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận Mua lại</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-left">
                                                @if (listRebuy.Count > 0)
                                                {
                                                    <table class="table table-borderless border-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Tên</th>
                                                                <th>Hình ảnh</th>
                                                                <th>Giá hiện tại</th>
                                                                <th>Giá cũ</th>
                                                                <th>số lượng</th>
                                                                <th>Tổng cộng</th>
                                                                <th>Trạng thái</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in listRebuy)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @item.ProductName
                                                                    </td>
                                                                    <td>
                                                                        <img src="@item.ProductImage" class="img-fluid img-thumbnail rounded-2" width="100" height="100" />
                                                                    </td>
                                                                    <td>@item.CurrentPrice.ToString("#,##") VNĐ</td>
                                                                    <td>@item.OldPrice.ToString("#,##") VNĐ</td>
                                                                    <td>@item.Quantity</td>
                                                                    <td>@item.Total.ToString("#,##") VNĐ</td>
                                                                    <td>
                                                                        @if (@item.IsActive)
                                                                        {
                                                                            <div class="p-2 badge bg-success text-white">Sẵn sàng</div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="p-2 badge bg-secondary text-white">Ngưng bán</div>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <div class="text-center">
                                                        <h4>Không các sản phẩm nào hoặc các sản phẩm này đã ngừng bán</h4>
                                                        <a class="btn btn-outline-warning col-6 me-4" asp-action="Menu" asp-controller="Home">Tiếp tục mua <i class="bi bi-basket-fill"></i></a>
                                                    </div>
                                                }
                                                
                                                <span class="text-danger" id="warningText"></span>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            @if (listRebuy.Count > 0)
                                            {

                                                <button id="rebuyOrder" data-order-id="@Model.OrderId" class="btn btn-primary">Mua lại</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.OrderStatus == "Đang chuẩn bị" && Model.PaymentStatus == "Chưa thanh toán" )
                        {
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Hủy đơn
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận hủy đơn</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-left">
                                                <strong>Bạn có chắc muốn hủy đơn này?</strong>
                                            </div>
                                            <div class="text-left">
                                                <label for="cancelReason">Lý do hủy đơn <span class="text-danger">*</span></label>
                                                <select id="cancelReason" name="message" class="form-select">
                                                    <option value="">Chọn lý do hủy đơn</option>
                                                    <option value="Tôi đã thay đổi ý định">Tôi đã thay đổi ý định</option>
                                                    <option value="Tôi tìm thấy giá tốt hơn ở nơi khác">Tôi tìm thấy giá tốt hơn ở nơi khác</option>
                                                    <option value="Tôi đặt nhầm đơn hàng">Tôi đặt nhầm đơn hàng</option>
                                                    <option value="Thời gian giao hàng quá lâu">Thời gian giao hàng quá lâu</option>
                                                    <option value="Tôi không còn cần món này nữa">Tôi không còn cần món này nữa</option>
                                                    <option value="Có vấn đề với thanh toán">Có vấn đề với thanh toán</option>
                                                    <option value="Tôi đã đặt nhầm sản phẩm">Tôi đã đặt nhầm sản phẩm</option>
                                                    <option value="Dịch vụ khách hàng không như mong đợi">Dịch vụ khách hàng không như mong đợi</option>
                                                    <option value="Lý do khác">Lý do khác</option>
                                                </select>
                                                <span class="text-danger" id="warningText"></span>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            <a href="javascript:void(0);" id="cancelOrderBtn" class="btn btn-outline-danger">Hủy đơn</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    document.getElementById("cancelOrderBtn").addEventListener("click", function () {
                                        var reason = document.getElementById("cancelReason").value;
                                        var warningText = document.getElementById("warningText");

                                        // Kiểm tra nếu lý do không được chọn
                                        if (!reason) {
                                            warningText.textContent = "Vui lòng chọn lý do hủy đơn.";
                                        } else {
                                            warningText.textContent = ""; // Xóa cảnh báo nếu có lý do được chọn

                                            // Lấy orderId từ model
                                            var orderId = "@Model.OrderId";

                                            // Tạo URL động bằng cách thêm orderId và message vào URL cơ bản
                                            var baseUrl = '@Url.Action("CancelOrder", "Order")';
                                            var cancelUrl = `${baseUrl}?orderId=${orderId}&message=${encodeURIComponent(reason)}`;

                                            // Redirect đến URL hủy đơn với lý do hủy được truyền kèm
                                            window.location.href = cancelUrl;
                                        }
                                    });
                                });
                            </script>
                        }

                        <a asp-action="OrderHistory" asp-controller="Order" class="btn btn-outline-secondary">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
    $('#rebuyOrder').on('click', function() {
        var orderId = $(this).data('order-id');

        $.ajax({
            url: '@Url.Action("RebuyOrder", "Order")',
            type: 'POST',
            data: { orderId: orderId },
            success: function(response) {
                if (response.isSuccess) {
                    // Thông báo thành công
                    toastr.success(response.message);
                    // Chuyển hướng đến trang Cart/Index
                    setTimeout(function() {
                        window.location.href = '/Carts';
                    }, 1000); // Đợi 1.0 giây để toastr hiển thị thông báo rồi chuyển hướng
                } else {
                    // Thông báo lỗi
                    toastr.error(response.message);
                }
            },
            error: function() {
                // Thông báo lỗi nếu xảy ra lỗi AJAX
                toastr.error("Xảy ra lỗi trong quá trình xử lý yêu cầu.");
            }
        });
    });
});


</script>
