@{
    ViewBag.Title = "Đánh Giá Shop";
    var reviewList = ViewBag.ReviewList as List<NanaFoodWeb.Models.Dto.ReviewProductDto>;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container">
    <div class="card shadow rounded-2">
        <div class="card-header">
            <h2>
                Đánh giá sản phẩm
            </h2>
        </div>
        <div class="card-body">
            @if (reviewList.Count != 0)
            {
                @foreach (var product in reviewList)
                {
                    <div class="container">
                        <div class="card">
                            <form method="post" class="container review-form" data-product-id="@product.ProductId">
                                <input id="orderId-@product.ProductId" value="@product.OrderId" hidden /> <!-- Thay Model.OrderId với giá trị thực của OrderId -->
                                <div class="row mt-2 mb-2">
                                    <div class="col-md-1">
                                        <img src="@product.ProductImage" class="img-fluid rounded-2" width="100" height="100" />
                                    </div>
                                    <div class="col-md-8">
                                        <h3>@product.ProductName</h3>
                                    </div>
                                </div>
                                <div class="mt-2 mb-2">
                                    <label>Đánh giá</label><br />
                                    <ejs-rating id="rating-@product.ProductId" value=5 cssClass="custom-font"></ejs-rating>
                                </div>
                                <div class="mt-2 mb-2">
                                    <label>Bình luận</label>
                                    <textarea id="comment-@product.ProductId" class="form-control comment"></textarea>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-primary submit-review" data-product-id="@product.ProductId">Gửi đánh giá</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            }
            else
            {
                <h2>Không còn sản phẩm để đánh giá</h2>
            }
        </div>
        <div class="card-footer">
            <div class="text-right ">
                <a class="btn btn-outline-secondary" asp-action="OrderHistory" asp-controller="Order">Quay về lịch sử</a>
            </div>
        </div>
    </div>
</div>

<style>
    .e-rating-container.custom-font .e-rating-item-list:hover .e-rating-item-container .e-rating-icon,
    .e-rating-container.custom-font .e-rating-item-container .e-rating-icon {
        background: linear-gradient(to right, #ffe814 var(--rating-value), #d8d7d4 var(--rating-value));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; /* Ẩn màu viền */
        -webkit-text-fill-color: transparent; /* Ẩn viền trong trình duyệt Webkit */
    }
</style>
<script>
$(document).ready(function () {
    $(".submit-review").on("click", function () {
        var productId = $(this).data("product-id");
        var rating = $(`#rating-${productId}`).val();
        var comment = $(`#comment-${productId}`).val();
        @* var userId = $(`#userId-${productId}`).val(); // Lấy giá trị UserId từ input ẩn *@
        var orderId = $(`#orderId-${productId}`).val(); // Lấy giá trị OrderId từ input ẩn

        // Gửi dữ liệu qua AJAX
        $.ajax({
            url: '@Url.Action("PostReview", "Order")',
            type: 'POST',
            data: JSON.stringify({ ProductId: productId, Rating: rating, Comment: comment, OrderId: orderId }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                alert("Đánh giá của bạn đã được gửi thành công!");
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr.responseJSON);
            }
        });
    });
});
</script>