@{
    Layout = "_AdminLayout";
    NanaFoodWeb.Models.Dto.ProductDto product = new NanaFoodWeb.Models.Dto.ProductDto();
    if (ViewBag.Product != null)
    {
        product = ViewBag.Product;
    }
    else
    {
        product = null;
    }
    double rating = ViewData["rating"] is double value ? value : 5;
}
@model NanaFoodWeb.Models.Dto.UserWithReviewDto
<style>
    .e-rating-container.custom-font .e-rating-item-list:hover .e-rating-item-container .e-rating-icon,
    .e-rating-container.custom-font .e-rating-item-container .e-rating-icon {
        background: linear-gradient(to right, #ffe814 var(--rating-value), #d8d7d4 var(--rating-value));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; /* Ẩn màu viền */
        -webkit-text-fill-color: transparent; /* Ẩn viền trong trình duyệt Webkit */
    }

    .e-rating-container .e-rating-item-container.e-rating-selected .e-rating-icon, .e-rating-container .e-rating-item-container.e-rating-intermediate .e-rating-icon {
        background: linear-gradient(to right, rgb(236 249 67) var(--rating-value), transparent var(--rating-value));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px rgb(223 219 73);
    }
</style>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header">
            <h1>Chi tiết đánh giá</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="">
            <div class=row>
                <h1>Sản phẩm được đánh giá</h1>
                @if(product != null){
                    <div class="row">
                        <div class="d-flex">
                            <div class="me-4">
                                <img id="mainImage" src="@product.ImageUrl" class="img-fluid mb-3" style="max-width: 400px; max-height: 400px; object-fit: cover; border-radius: 10px;" />
                            </div>
                            <div class="me-4">
                                <div class="h2 fw-bold text-warning">@product.ProductName.ToUpper()</div>
                                <div class="h6 py-1">
                                    <span>Lượt xem : @product.View <i class="bi bi-eye-fill"></i></span>
                                </div>
                                <div class="h6">
                                    <span class="d-flex align-items-center">
                                        Số sao hiện tại :
                                        <ejs-rating id="productRating-@Model.ProductId"
                                                    value=@rating
                                                    readOnly=true
                                                    precision=Exact></ejs-rating>@* aria-valuenow="2.5" *@
                                    </span>
                                </div>
                                <div class="h5">Giá : @product.Price.ToString("#,##") vnđ</div>
                                <div class="h6 py-1">Mô tả:</div>
                                <div class="fs-6">
                                    @product.Description
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center">
                        <div class="mb-2">
                            <img src="https://hunanchinesefoodwhitby.com/img/placeholders/comfort_food_placeholder" style="max-width: 100%; height: 48vh;" alt="Product Responsive" />
                        </div>
                        <h4>Sản phẩm này đã bị xóa hoặc đã ngừng kinh doanh</h4>
                    </div>
                }
            </div>
        </div>
        <div class="row mt-2">
            <h1>Đánh giá của người dùng</h1>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img src="@Model.UserAvartar"
                     class="img-fluid img-thumbnail lazyload" />
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex flex-column align-items-start justify-content-start">
                            <span><strong>Mã người dùng:</strong> @Model.UserId</span>
                            <span><strong>Tên đăng nhập:</strong> @Model.UserName</span>
                            <span><strong>Họ tên:</strong> @Model.FullName</span>
                            <span>Số sao:</span>
                            <ejs-rating id="@Model.ReviewId" value=@Model.Rating cssClass="custom-font" readOnly=true></ejs-rating>
                        </div>
                        <div>
                            <span><strong>Ngày đánh giá:</strong> @Model.ReviewedDate.ToString("dd/MM/yyyy hh:mm:ss tt")</span>
                        </div>
                    </div>
                    <div class="card-body">
                        @Model.Comment
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="text-end">
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Review"> Quay trở lại danh sách</a>
                @if(!Model.IsConfirm){
                    <a class="btn btn-success" asp-action="ConfirmReview" asp-controler="Review" asp-route-reviewId="@Model.ReviewId"> <i class="bi bi-check-circle-fill"></i> Duyệt</a>
                }
                else{
                    <a class="btn btn-danger" asp-action="ConfirmReview" asp-controler="Review" asp-route-reviewId="@Model.ReviewId"> <i class="bi bi-x-circle-fill"></i>Bỏ Duyệt</a>
                }
            </div>
        </div>
    </div>
</div>
