@model IEnumerable<StoreManagement.Models.Items>

<!-- Modal -->
<div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="qrCodeModalLabel">Thông Báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Bạn đã thêm giỏ hàng thành công!Vui lòng quét QR code xem tình trạng đơn hàng.
                <div id="qrcode" class="mt-3 mx-auto d-flex justify-content-center align-items-center" style="width: 128px; height: 128px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@if (Model.Any() && Model.Count()>0)
{
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                    <img src="@item.UrlImg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                    <h4>@Html.DisplayFor(modelItem => item.ItemName)</h4>
                    <p>@Html.DisplayFor(modelItem => item.Price)</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">@Html.DisplayFor(modelItem => item.Description)</p>
                        @* <a class="btn border border-secondary rounded-pill px-2 text-primary" asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.ItemId" asp-route-price="@item.Price" asp-route-quantity="1">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i>Thêm Giỏ Hàng
                        </a> *@
                        <a class="btn border border-secondary rounded-pill px-2 text-primary add-to-cart" data-id="@item.ItemId" data-price="@item.Price" data-quantity="1">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i>Thêm Giỏ Hàng
                        </a>
                        <a class="btn border border-secondary rounded-pill px-2 text-primary" asp-controller="Home" asp-action="Details" asp-route-id="@item.ItemId">
                            <i class="fa fa-info me-2 text-primary"></i>Chi tiết
                        </a>
                    </div>
                    @* <div id="qrcode-@item.ItemId" class="qrcode"></div> *@
                </div>
            </div>
        </div>
        
    }
}
else
{
    <p>No items found.</p>
}
<script type="text/javascript">
    @*$(document).ready(function () { });*@
       @* @if (Model.Any() && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <text>
                        generateQRCode("@item.ItemId");
                </text>
            }
        }*@
    
    function generateQRCode(text) {
        var qrCodeContainer = document.getElementById('qrcode');
        qrCodeContainer.innerHTML = ""; // Clear previous QR code
        new QRCode(qrCodeContainer, {
            text: text,
            width: 128,
            height: 128
        });
    }

    function showPopup() {
        document.getElementById('popup').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('popup').style.display = 'none';
    }

    $(document).ready(function () {
        $('.add-to-cart').click(function (e) {
            e.preventDefault();
            var itemId = $(this).data('id');
            var price = $(this).data('price');
            var quantity = $(this).data('quantity');

            $.ajax({
                url: '@Url.Action("AddToCart", "Home")',
                type: 'POST',
                data: { id: itemId, price: price, quantity: quantity },
                success: function (response) {
                    if (response.success) {
                        generateQRCode(response.data);
                        var myModal = new bootstrap.Modal(document.getElementById('qrCodeModal'));
                        myModal.show();
                    } else {
                        alert('Failed to add item to cart.');
                    }
                },
                error: function () {
                    alert('Error occurred while adding item to cart.');
                }
            });
        });

    });
</script>