@model NanaFoodWeb.Models.Dto.UserDto
<div style="
margin-top: 7%">
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col p-0">
                    <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 pt-3 pb-3">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Thông tin người dùng</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="@Model.AvatarUrl" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.UserName</h5>
                        <div class="d-flex justify-content-center mb-2">
                                <a href="#" type="button" class="btn" style="background : #ffc107; color: black ">Tải ảnh lên<i class="bi bi-upload ps-2"></i></a>
                            <button type="button" class="btn btn-outline-danger ms-1">Đăng xuất</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                            <form asp-controller="auth" asp-action="GetInfo" enctype="multipart/form-data">
                                <input asp-for=UserName id="UserName" value="@Model.UserName" hidden/>
                                <input asp-for=AvatarUrl id="AvatarUrl" value="@Model.AvatarUrl" hidden />
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input asp-for=FullName type="text" class="form-control" id="FullName" value="@Model.FullName" placeholder="Nhập tên tài khoản">
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input asp-for=Email type="email" class="form-control" id="Email" value="@Model.Email" placeholder="Nhập địa chỉ email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input asp-for=PhoneNumber type="tel" class="form-control" id="PhoneNumber" value="@Model.PhoneNumber" placeholder="Nhập số điện thoại">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input asp-for=Address type="text" class="form-control" id="Address" value="@Model.Address" placeholder="Nhập địa chỉ chính xác">
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-outline-warning">Cập nhật</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>