@using System.IdentityModel.Tokens.Jwt;

@{
    var Name = User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.Name)?.Value ?? "Khách";
    var nameId = User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.Sub)?.Value;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nana Food</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <meta name="google-site-verification" content="pI7gRDv6ycRdVK8SyxRmfRrwOZFCjdZYND6Dd5HHlMc" />
  
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">
    <!-- Favicon cho các thiết bị Apple -->
    @* <link rel="apple-touch-icon" sizes="180x180" href="~/images/android-chrome-192x192.png"> *@
    <!-- Favicon cho các trình duyệt khác -->
    @* <link rel="icon" sizes="32x16" href="~/images/favicon.ico" /> *@
    @* <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" /> *@

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/Login.css" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
     <link href="~/template/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/ejs2.css" rel="stylesheet" asp-append-version="true" />
    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">


    <!-- Link for Toasted -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/27.1.48/material.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/27.1.48/dist/ej2.min.js"></script>
    <link href="~/css/ejs2.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.0/lazysizes.min.js" async></script>
    <style>
        .modal-position-custom {
            top: 15%; /* Điều chỉnh giá trị này để modal nằm khoảng 1/3 từ trên xuống */
            transform: translateY(0); /* Xóa tác dụng của 'modal-dialog-centered' */
        }

        /* Đảm bảo Navbar luôn hiển thị trên Carousel */
        .navbar-collapse {
            position: relative;
            z-index: 1050; /* Đảm bảo cao hơn Carousel */
        }

        #navbarCollapse.show ~ #carouselExample {
            margin-top: 250px; /* Khoảng cách đẩy xuống */
            transition: margin-top 0.3s ease; /* Hiệu ứng mượt */
        }

        /* Đặt Z-index cho Carousel */
        #carouselExample {
            position: relative;
            z-index: 1;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #b0692f;
            border-color: #b0692f;
        }
        a:hover{
            color: #b0692f;
            text-decoration:none;
        }
        .page-link:hover{
            color: white;
        }
    </style>
</head>
<body>

    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-warning" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar start -->
    <div class="container-fluid">
        <div class="container topbar bg-warning d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <marquee class="text-white">NanaFood là một trang web chuyên cung cấp dịch vụ bán thức ăn nhanh trực tuyến, mang đến sự tiện lợi tối đa cho khách hàng trong việc lựa chọn và thưởng thức các món ăn yêu thích chỉ qua vài cú nhấp chuột. Với sự đa dạng trong thực đơn và cam kết chất lượng, NanaFood phục vụ mọi nhu cầu ăn uống từ những món ăn phổ biến hàng ngày như cơm, bún, phở đến các món ăn quốc tế như pizza, hamburger, sushi, và các món tráng miệng hấp dẫn. Được thiết kế thân thiện, dễ sử dụng, trang web của NanaFood giúp khách hàng dễ dàng tìm kiếm, chọn món, và đặt hàng với trải nghiệm mượt mà và đơn giản.</marquee>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light mb-3 rounded-4 px-2  border-0  sticky-top" data-bs-theme="light">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand"><img class="display-6" src="/images/Nana.png"></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-warning"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a asp-controller="home" asp-action="index" class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">Trang Chủ</a>
                        <a asp-controller="home" asp-action="menu" class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Menu" ? "active" : "") ">Thực đơn</a>
                        <a asp-controller="home" asp-action="about" class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "")">Về Nana</a>
                        <a asp-controller="home" asp-action="discount" class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Discount" ? "active" : "")">Khuyến mãi</a>
                        <a asp-controller="home" asp-action="contact" class="nav-item nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Contact" ? "active" : "")">Liên hệ</a>
                    </div>
                    <div class="d-flex m-3 me-0">
                        <button class="btn-search btn border border-warning btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-warning "></i></button>
                        <a asp-controller="Cart" asp-action="Index" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <span class="position-absolute bg-warning rounded-circle d-flex align-items-center justify-content-center text-dark px-1" id="cartCount" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">)
                                @Context.Session.GetString("CartCount") == null ? "0" : Context.Session.GetString("CartCount"))
                                </span>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="my-auto btn btn-outline-warning rounded-2 p-2 d-flex align-items-center" asp-controller="Auth" asp-action="GetInfo">
                                <i class="fas fa-user fa-2x me-2"></i> @Name
                            </a>
                            <a class="my-auto ms-2 d-flex align-items-center" asp-controller="Auth" asp-action="Logout">
                                <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Auth" asp-action="login" class="my-auto">
                                <i class="fas fa-user fa-2x"></i>
                            </a>
                        }
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-position-custom">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <form class="input-group" method="get" asp-action="SearchByName" asp-controller="Products">
                        <input type="search" name="query" class="form-control p-3" placeholder="Tìm kiếm" aria-describedby="search-icon">
                        <button type="submit" id="search-icon" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <main role="main" class="pb-3">
        <partial name="_Notification" />
        @RenderBody()
    </main>
    <footer class="text-center py-4 bg-dark text-light">
        <p>&copy; 2024 Nana Fastfood . Thiết kế bởi nhóm 4 C#.</p>
    </footer>
    <ejs-scripts></ejs-scripts>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" defer></script>
<script src="https://kit.fontawesome.com/0d6fe42d10.js" crossorigin="anonymous" defer></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/waypoints/waypoints.min.js"></script>
<script src="~/lib/lightbox/js/lightbox.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
<script>
    !function (w, d, s, ...args) {
        var div = d.createElement('div');
        div.id = 'aichatbot';
        d.body.appendChild(div);
        w.chatbotConfig = args;
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s);
        j.defer = true;
        j.type = 'module';
        j.src = 'https://aichatbot.sendbird.com/index.js';
        f.parentNode.insertBefore(j, f);
    }(window, document, 'script', '942E7139-658C-4C3A-A905-1CF10C580A83', 'onboarding_bot', {
        apiHost: 'https://api-cf-ap-5.sendbird.com',
    });
</script>
<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        const navbarCollapse = document.getElementById('navbarCollapse');
        const carousel = document.getElementById('carouselExample');

        // Khi toggler mở
        navbarCollapse.addEventListener('show.bs.collapse', function () {
            const navbarHeight = navbarCollapse.scrollHeight; // Lấy chiều cao menu
            carousel.style.marginTop = navbarHeight + 'px'; // Đặt khoảng cách
        });

        // Khi toggler đóng
        navbarCollapse.addEventListener('hide.bs.collapse', function () {
            carousel.style.marginTop = '0'; // Xóa khoảng cách
        });
    });

    function getCookie(name) {
        let cookieArr = document.cookie.split(";"); // Tách các cặp cookie
        for (let i = 0; i < cookieArr.length; i++) {
            let cookiePair = cookieArr[i].split("="); // Tách từng cặp tên-giá trị cookie
            if (name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]); // Trả về giá trị của cookie nếu tìm thấy
            }
        }
        return null; // Trả về null nếu không tìm thấy cookie
    }

    window.onload = function () {
        // Lấy giá trị của cookie 'CartCount'
        const cartCount = getCookie('CartCount');

        // Kiểm tra nếu có giá trị của CartCount
        if (cartCount !== null) {
            // Gán giá trị cookie vào phần tử HTML có id="cartCount"
            document.getElementById("cartCount").innerText = cartCount;
        } else {
            // Nếu không có giá trị trong cookie, đặt về 0 hoặc giá trị mặc định khác
            document.getElementById("cartCount").innerText = "0";
        }
    };
</script>

<!-- Template Javascript -->
<script src="~/js/main.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</html>