@{
    List<NanaFoodWeb.Models.Dto.UserReviewDto> listReview = ViewBag.ReviewList as List<NanaFoodWeb.Models.Dto.UserReviewDto>;
    var currentPage = ViewData["currentPage"] as int? ?? 1;
    var totalPages = ViewData["totalPages"] as int? ?? 1;
}
@model NanaFoodWeb.Models.Dto.ProductDto
<style>
    .e-rating-container.custom-font .e-rating-item-list:hover .e-rating-item-container .e-rating-icon,
    .e-rating-container.custom-font .e-rating-item-container .e-rating-icon {
        background: linear-gradient(to right, #ffe814 var(--rating-value), #d8d7d4 var(--rating-value));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; /* Ẩn màu viền */
        -webkit-text-fill-color: transparent; /* Ẩn viền trong trình duyệt Webkit */
    }
</style>
@foreach (var review in listReview)
{
    <div class="mb-4">
    <div class="row">
        <div class="col-md-1">
            <img data-src="@review.AvatarUrl"
                     class="img-thumbnail lazyload"
                     style="width:15rem;"/>
        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex flex-column align-items-start justify-content-start">
                        <span><strong>@review.FullName</strong></span>
                        <ejs-rating id="@review.ReviewId" value=@(review.Rating ?? 5) cssClass="custom-font" readOnly=true></ejs-rating>
                    </div>
                    <div>
                        <span>@review.ReviewedDate.ToString("dd/MM/yyyy")</span>
                    </div>
                </div>
                <div class="card-body">
                    @review.Comment
                </div>
            </div>
        </div>
    </div>
</div>
}
<div class="custom-pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (currentPage > 1)
        {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("CDetails", new { page = currentPage - 1 })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
        }

        @for (var i = 1; i <= totalPages; i++)
        {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("CDetails", new { page = i})">
                    @i
                        </a>
                    </li>
        }

        @if (currentPage < totalPages)
        {
                    <li class="page-item">
                            <a class="page-link" href="@Url.Action("CDetails", new { page = currentPage + 1})" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
        }
        </ul>
    </nav>
</div>

            