@model NanaFoodWeb.Models.Dto.ViewModels.ProductVM
@if (Model?.Products != null && Model.Products.Any(e => e.IsActive))
{
    @foreach (var product in Model.Products.Where(e => e.IsActive))
    {
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <div class="card shadow">
                <a asp-controller="Products" asp-action="CDetails" asp-route-id="@product.ProductId">
                    <img data-src="@product.ImageUrl" class="lazyload" width="100%" height="100%" />
                </a>
                <div class="card-body" style="height: 48px; transform: translate(0px, 4px); transition: none;">
                    <a asp-controller="Products" asp-action="CDetails" asp-route-id="@product.ProductId" class="text-decoration-none">
                        <h5 class="card-title text-dark fw-bold" style="position: relative; left: -3px; top: -11px; height: 23px; transition: none;">@product.ProductName</h5>
                    </a>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-dark fs-5 fw-bold" style="position: relative; left: 3px; top: 8px;">@product.Price.ToString("#,##")đ</p>
                        <a asp-controller="Products" asp-action="CDetails" asp-route-id="@product.ProductId" class="btn btn-sm btn-warning rounded-2">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    }
} else
{
    <div class="d-flex justify-content-center align-item-center">
        <h5 style="position: relative; left: 7px; top: 203px;">Không có sản phẩm bạn cần tìm</h5>
    </div>
}