@model IEnumerable<StoreManagement.Models.ItemImage>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid page-header py-5">
</div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">ItemImage management</h1>
        <div class="row g-4">           
            <p>
                <a asp-action="Create" asp-controller="ItemImage">Create New</a>
            </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageURL)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageBackground)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ItemId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdateBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ImageURL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ImageBackground)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ItemId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="ItemImage" asp-route-id="@item.ImageId">Edit</a> |
                                        <a asp-action="Details" asp-controller="ItemImage" asp-route-id="@item.ImageId">Details</a> |
                                        <a asp-action="Delete" asp-controller="ItemImage" asp-route-id="@item.ImageId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>                
        </div>
    </div>
</div>

