@using Syncfusion.EJ2
@model NanaFoodWeb.Models.CategoryDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Details";
}


<div id="wrapper">

    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Chi tiết danh mục</h1>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" id="category-name">@Html.DisplayFor(model => model.CategoryName)</h6>
                    </div>
                    <div class="card-body">
                        <p><strong>Tên danh mục:</strong> <span id="category-name">@Html.DisplayFor(model => model.CategoryName)</span></p>
                        <p><strong>Mô tả:</strong> <span id="description">@Html.DisplayFor(model => model.Description)</span></p>
                        <div class="mb-2 mt-2">
                            <label>Trạng thái:</label>
                            <div class="d-flex align-items-center">
                                <div>
                                    <ejs-switch ejs-for="IsActive" change="onSwitchChange" name="IsActive" disabled></ejs-switch>
                                </div>
                                <h5 class="ms-2">
                                    <span id="badgeStatus" class="badge @(Model.IsActive ? "bg-success" : "bg-secondary")">
                                        @(Model.IsActive ? "Hoạt động" : "Vô hiệu")
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <p><strong>Hình ảnh: </strong></p>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <img src="@Model.CategoryImage" class="rounded-3" style="width:100%;" />
                                </div>
                            </div>
                        </div>

                        @* <p><strong>Image:</strong> <span id="image">@Html.DisplayFor(model => model.ImageUrl)</span></p> *@
                        <div class="mt-2">
                            <a asp-action="Edit" asp-controller="Categories" class="btn btn-primary" asp-route-id="@Model?.CategoryId">Chỉnh sửa</a>
                            <a href="@Url.Action("Index", "Categories")" class="btn btn-secondary">Trở về danh sách</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div id="wrapper">
    
    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Category Details</h1>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Details of Categoryyyyy: </h6>
                    </div>
                    <div class="card-body">
                        <div class="row g-4">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CategoryName)
                                </dd>
                                
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IsActive)
                                </dd>
                            </dl>
                        </div> 
                         <p><strong>Category Name:</strong> <span id="product-id">@Html.DisplayFor(model => model.CategoryName)</span></p>
                        <p><strong>Description:</strong> <span id="product-description"></span></p>                        <p><strong>Image:</strong> <span id="product-price"></span></p>
                        <p><strong>Image:</strong> <span id="product-price"></span></p> 
                        <div class="row g-4">
                            <a asp-action="Edit" asp-controller="Categories" asp-route-id="@Model?.CategoryId">Edit</a> 
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>

