@model IEnumerable<NanaFoodWeb.Models.CategoryDto>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}
<div id="wrapper">

    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div>
                <form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchQuery" value="@ViewBag.CurrentFilter" placeholder="Search by category name..." aria-label="Search" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Category List</h1>
                @* <a href="add-product.html" class="btn btn-primary mb-3">Add Product</a> *@
                <p>
                    <a asp-action="Create" class="btn btn-primary mb-3" asp-controller="Categories">Add Category</a>
                </p>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Category ID</th>
                                        <th>Category Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CategoryId</td>
                                            <td>@item.CategoryName</td>
                                           
                                            <td>
                                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Categories" asp-route-id="@item.CategoryId">Edit</a>
                                                <a class="btn btn-warning btn-sm" asp-action="Details" asp-controller="Categories" asp-route-id="@item.CategoryId">Details</a>
                                                @* <a href="detail-product.html?id=1" class="btn btn-info btn-sm">Details</a>
                                                    <a href="edit-product.html?id=1" class="btn btn-warning btn-sm">Edit</a> *@
                                                <button class="btn btn-danger btn-sm" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                        <nav>
                            <ul class="pagination">
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, searchQuery = ViewBag.CurrentFilter })">Previous</a>
                                    </li>
                                }

                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i, searchQuery = ViewBag.CurrentFilter })">@i</a>
                                    </li>
                                }

                                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, searchQuery = ViewBag.CurrentFilter })">Next</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
