@using Syncfusion.EJ2
@model IEnumerable<NanaFoodWeb.Models.CategoryDto>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}
<div id="wrapper">

    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Danh sách danh mục</h1>
                @* <a href="add-product.html" class="btn btn-primary mb-3">Add Product</a> *@
                <p>
                    <a asp-action="Create" class="btn btn-primary mb-3" asp-controller="Categories"><i class="bi bi-plus-circle"></i> Add Category</a>
                </p>
                
                <div class="card shadow">
                    <div class="card-header py-3">
                        <div class="d-flex align-items-md-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
                            <div>
                                <form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="searchQuery" value="@ViewBag.CurrentFilter" placeholder="Nhập tên danh mục" aria-label="Search" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Mã danh mục</th>
                                        <th>Tên danh mục</th>
                                        <th>Mô tả</th>
                                        <th>Trạng thái</th>
                                        <th>Hình ảnh</th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CategoryId</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <span id="badgeStatus" class="badge @(item.IsActive ? "bg-success" : "bg-secondary")">
                                                    @(item.IsActive ? "Hoạt động" : "Vô hiệu")
                                                </span>
                                            </td>
                                            <td>
                                                <div class="text-center">
                                                    <img class="d-block mx-auto rounded-2" src="@item.CategoryImage" style="width:10rem" />
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Categories" asp-route-id="@item.CategoryId"><i class="bi bi-wrench-adjustable"></i> Chỉnh sửa</a>
                                                <a class="btn btn-info btn-sm" asp-action="Details" asp-controller="Categories" asp-route-id="@item.CategoryId"><i class="bi bi-info-circle"></i> Chi tiết</a>

                                                <!-- Nút Xóa với data-bs-target duy nhất -->
                                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.CategoryId">
                                                    <i class="bi bi-trash"></i> Xóa danh mục
                                                </button>

                                                <!-- Modal với ID duy nhất cho từng danh mục -->
                                                <div class="modal fade" id="deleteModal-@item.CategoryId" tabindex="-1" aria-labelledby="deleteModalLabel-@item.CategoryId" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="deleteModalLabel-@item.CategoryId">Bạn có chắc chắn xóa danh mục này ?</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-2 mt-2">
                                                                    <label>Mã danh mục:</label>
                                                                    <input asp-for="@item.CategoryId" class="form-control" readonly />
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Tên danh mục:</label>
                                                                    <input asp-for="@item.CategoryName" class="form-control" readonly />
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Mô tả:</label>
                                                                    <textarea asp-for="@item.Description" class="form-control" rows="5" readonly></textarea>
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Trạng thái</label>
                                                                    <div class="d-flex align-items-center">
                                                                        <div>
                                                                            @Html.EJS().Switch(item.CategoryId.ToString()).Checked(item.IsActive).Disabled(true).Render()
                                                                        </div>
                                                                        <h4 class="ms-2">
                                                                            @if (item.IsActive)
                                                                            {
                                                                                <span class="badge bg-success">Hoạt động</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="badge bg-secondary">Vô hiệu</span>
                                                                            }
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-2 mt-2">
                                                                    <label>Hình ảnh: </label>
                                                                    <div class="rounded-3 bg-body-tertiary shadow w-50 shadow-sm">
                                                                        <img class="rounded-3" style="width:100%"
                                                                             src="@item.CategoryImage" 
                                                                             alt="Image"/> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form method="post">
                                                                    <button type="submit" 
                                                                        class="btn btn-danger" 
                                                                        asp-controller="Categories" 
                                                                        asp-action="Delete" 
                                                                        asp-route-searchQuery="@ViewData["searchQuery"]" 
                                                                        asp-route-page="@ViewData["page"]" 
                                                                        asp-route-id="@item.CategoryId"><i class="bi bi-file-earmark-x"></i> Xóa</button>
                                                                </form>
                                                                <form method="post">
                                                                    <button type="submit" 
                                                                        asp-controller="Categories" 
                                                                        asp-action="Deactivate" 
                                                                        asp-route-searchQuery="@ViewData["searchQuery"]" 
                                                                        asp-route-page="@ViewData["page"]" 
                                                                        asp-route-id="@item.CategoryId" 
                                                                        class="btn btn-warning"><i class="bi bi-eye-slash"></i> Vô hiệu hóa</button>
                                                                </form>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-escape"></i> Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <nav>
                            <ul class="pagination">
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, searchQuery = ViewBag.CurrentFilter })">Previous</a>
                                    </li>
                                }

                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i, searchQuery = ViewBag.CurrentFilter })">@i</a>
                                    </li>
                                }

                                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, searchQuery = ViewBag.CurrentFilter })">Next</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
