@model IEnumerable<StoreManagement.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid page-header py-5">
</div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <p>
                        <a asp-action="Create" asp-controller="Users">Create New</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PassWord)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Role)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdateBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PassWord)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.UserId">Edit</a> |
                                        <a asp-action="Details" asp-controller="Users" asp-route-id="@item.UserName">Details</a> |
                                        <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.UserId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


