@* 
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<div class="cart-container">
    <table>
        <thead>
            <tr>
                <th scope="col">XÓA</th>
                <th scope="col">SẢN PHẨM</th>
                <th scope="col">GIÁ</th>
                <th scope="col">SỐ LƯỢNG</th>
                <th scope="col">TỔNG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a asp-action="" asp-route-id="" asp-route-quantity="">Xoá</a>
                </td>
                <td><img src="https://via.placeholder.com/50" alt="Khoai tây chiên" style="margin-right: 10px; vertical-align: middle;">Khoai tây chiên bơ giòn</td>
                <td>23,000 đ</td>
                <td>
                    <input type="number" value="1" min="1" style="width: 50px;">
                </td>
                <td>23,000 đ</td>
            </tr>
        </tbody>
    </table>

    <!-- Phần tổng kết giỏ hàng -->
    <div class="cart-summary">
        <p>Tạm tính: <span>23,000 đ</span></p>
        <p>Tổng: <span>23,000 đ</span></p>

        <button class="btn">TIẾN HÀNH THANH TOÁN</button>

        <div class="discount-code">
            <input type="text" placeholder="Mã ưu đãi">
            <button>Áp dụng</button>
        </div>

        <div class="action-buttons">
            <a href="#">← Tiếp tục xem sản phẩm</a>

        </div>
    </div>
</div> *@
@model List<NanaFoodDAL.Dto.CartDetailsDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<div class="row">
    <div id="content" class="col-sm-12">
        <h2 class="title">Giỏ hàng của tôi</h2>
        <div class="table-responsive form-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="text-center">Hình ảnh</td>
                        <td class="text-left">Sản Phẩm</td>
                        <td class="text-left">Mã sản phẩm</td>
                        <td class="text-left">Số lượng</td>
                        <td class="text-right">Giá</td>
                        <td class="text-right">Tổng</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <a href="/Product/Details/@item.ProductId">
                                    <img width="70px" src="@item.Image" alt="@item.ProductName"
                                         title="@item.ProductName" class="img-thumbnail" />
                                </a>
                            </td>
                            <td class="text-left">
                                <a href="/Product/Details/@item.ProductId">@item.ProductName</a><br />
                            </td>
                            <td class="text-left">@item.ProductId</td>
                            <td class="text-left" width="200px">
                                <div class="input-group btn-block quantity">
                                    <input type="text" name="quantity" value="@item.Quantity" size="1"
                                           class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="submit" data-toggle="tooltip" title="Cập nhật"
                                                class="btn btn-primary">
                                            <i class="fa fa-clone"></i>
                                        </button>
                                        <form asp-action="DeleteProductFromCart" method="post" class="d-inline">
                                            <input type="hidden" name="productId" value="@item.ProductId" />
                                            <button type="submit" data-toggle="tooltip" title="Xoá"
                                                    class="btn btn-danger">
                                                <i class="fa fa-times-circle"></i>
                                            </button>
                                        </form>
                                    </span>
                                </div>
                            </td>
                            <td class="text-right">@item.Price.ToString("N0") VND</td>
                            <td class="text-right">@item.Total.ToString("N0") VND</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h3 class="subtitle no-margin">Bạn muốn làm gì tiếp theo?</h3>
        <p>Chọn xem bạn có mã giảm giá muốn sử dụng.</p>

        <!-- Mã giảm giá -->
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse"
                           data-parent="#accordion" aria-expanded="true">
                            Sử dụng mã giảm giá
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse-coupon" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <label class="col-sm-2 control-label" for="input-coupon">Nhập mã giảm giá của bạn tại đây</label>
                        <div class="input-group">
                            <input type="text" name="coupon" value="" placeholder="Enter your coupon here"
                                   id="input-coupon" class="form-control">
                            <span class="input-group-btn">
                                <input type="button" value="Apply Coupon" id="button-coupon" class="btn btn-primary">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tổng chi phí -->
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-right"><strong>Tổng:</strong></td>
                            <td class="text-right">@Model.Sum(x => x.Total).ToString("N0") VND</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Giảm giá (10%):</strong></td>
                            <td class="text-right">@((Model.Sum(x => x.Total) * 0.1).ToString("N0")) VND</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Tổng cộng:</strong></td>
                            <td class="text-right">@((Model.Sum(x => x.Total) * 0.9).ToString("N0")) VND</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="buttons">
            <div class="pull-left"><a href="index.html" class="btn btn-primary">Tiếp tục mua sắm</a></div>
            <div class="pull-right"><a href="checkout.html" class="btn btn-primary">Thanh toán</a></div>
        </div>
    </div>
</div>
