@using Syncfusion.EJ2
@model NanaFoodWeb.Models.Dto.UpdateUserRequestDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Delete";
}

<div id="wrapper">
    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Bạn có chắc muốn xóa người dùng này ?</h1>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Id" class="control-label">Mã người dùng</label>
                        <input asp-for="Id" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Tên đăng nhập</label>
                        <input asp-for="FullName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Tên đăng nhập</label>
                        <input asp-for="UserName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" readonly />
                    </div>
                    <div class="mb-2 mt-2">
                        <label>Trạng thái</label>
                        <div class="d-flex align-items-center">
                            <div>
                                <ejs-switch ejs-for="EmailConfirmed" change="onSwitchChangeUserForm" name="EmailConfirmed" disabled></ejs-switch>
                            </div>
                            <h5 class="ms-2">
                                <span id="badgeStatus" class="badge @(Model.EmailConfirmed ? "bg-success" : "bg-secondary")">
                                    @(Model.EmailConfirmed ? "Kích hoạt" : "Vô hiệu")
                                </span>
                            </h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Địa chỉ</label>
                        <textarea asp-for="Address" class="form-control" rows="5" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                        <input asp-for="PhoneNumber" type="tel" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Trạng thái</label>
                        <select asp-for="Status" asp-items="@ViewBag.StatusList" class="form-select" disabled>
                            <option label="Chọn trạng thái"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label">Vai trò</label>
                        <select asp-for="Role" asp-items="@ViewBag.RoleList" class="form-select" disabled>
                            <option label="Chọn Vai trò"></option>
                        </select>
                    </div>
                    <p><strong>Hình ảnh: </strong></p>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="@Model.AvatarUrl" class="rounded-3" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary" asp-action="DeleteConfirm" asp-controller="Users" asp-route-userId="@Model.Id">Xác nhận xóa</button>
                        <a href="@Url.Action("Index", "Users")" class="btn btn-secondary">Trở về danh sách</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>